
{% load i18n %}

{% block subject %}
  {{ site_name }} - Your account has been successfully created and activated!
{% endblock %}

{% block html_body %}
    <p style=
        "
          display: block;
          width: fit-content;
          margin: auto;
          width: fit-content;
          margin: 10px auto;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-weight: 700;
          width: fit-content;
          font-size: 1rem;
        "
    >
      Your account has been created and is ready to use!
    </p>
{% endblock html_body %}