{% load i18n %}

{% block subject %}
  Password reset on {{ site_name }}
{% endblock subject %}

{% block html_body %}
  <p style=
      "
        display: block;
        width: fit-content;
        margin: auto;
        width: fit-content;
        margin: 10px auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-bottom: 1px solid black;
        padding: 5px;
        font-weight: 700;
        width: fit-content;
        font-size: 1rem;
      "
  >
    You're receiving this email because you requested a password reset for your user account at {{ site_name }}.
    Please go to the following page and choose a new password: {{ protocol }}://{{ domain }}/{{ url|safe }}
    Your username, in case you've forgotten:
    <strong>
      {{ user.get_username }}
    </strong>
  </p>
  <a class="main-button" href="{{ protocol }}://{{ domain }}/{{ url|safe }}"
    style=
      "
        display: block;
        width: fit-content;
        margin: auto;
        width: fit-content;
        margin: 10px auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-radius: 8px;
        padding: 10px 30px;
        background-color: green;
        color: white;
        font-weight: 900;
        text-transform: capitalize;
        font-size: larger;
        text-decoration: none;
        font-size: 1.5rem;
      "
  >
    Reset Password
  </a>
{% endblock html_body %}