{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script defer src="{% static 'js/bootstrap.min.js' %}"></script>
    <script defer src="{% static 'accounts/js/reset_password.js' %}"></script>
</head>

<body class="d-flex justify-content-center align-items-center flex-column" data-bs-theme="dark"
    style="min-height: 100dvh;">
    <h1 class="text-center text-light fs-1 fw-bold">
        Reset password
    </h1>
    <form class="form" style="width: 90vw; max-width: 400px;">
        <input type="password" placeholder="new password" class="form-control my-1 w-100">
        <input type="password" placeholder="confirm new password" class="form-control my-1 w-100">
        <input type="submit" class="btn btn-success">
    </form>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#errorsModal"
        id="openErrorsModal" style="display: none;"></button>

    <!-- Modal -->
    <div class="modal fade" id="errorsModal" tabindex="-1" aria-labelledby="errorsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-5 text-danger text-uppercase" id="errorsModalLabel">error</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-warning" id="errors">
                    <!-- errors -->
                </div>
            </div>
        </div>
    </div>


    {{ send_to|json_script:"send-to" }}
</body>

</html>